@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  user-select: none;
  text-transform: uppercase;
  margin: 0;
}
img {
  width: 50vw;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #de8a1c;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}
a:hover {
  filter: opacity(85%);
}
.cover h4 {
  margin: 1.5rem 0 !important;
  color: #de8a1c;
}
.cover h1,
.cover h2 {
  font-size: 4.5em;
}
.cover p {
  margin-bottom: 2rem;
}
.cover {
  display: flex;
  width: 100%;
  height: 100vh;
}
.cover .banner {
  padding: 1.2rem 10rem;
  text-align: start;
  background-color: black;
  color: white;
}

.cover .image {
  width: 50%;
  height: 100%;
}

.cardsContainer {
  text-align: center;
  padding: 1.3rem;
  margin: 2.5rem 4rem;
}
.cardsContainer h1 {
  padding: 3rem;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
.card {
  box-shadow: rgb(202, 146, 74) 0px 3px 8px;
  padding: 30px 45px;
  height: 350px;
  width: 200px;
  /* margin: 0 15px; */
  word-wrap: break-word;
}
.card:hover {
  box-shadow: rgb(245, 187, 100) 0px 30px 60px -12px inset,
    rgba(249, 177, 53, 0.668) 0px 18px 36px -18px inset;
}

.whyour_content img {
  height: 120px;
  width: 120px;
  border: solid 3px rgb(224, 157, 85);
  border-radius: 50%;
}

.whyour_content {
  display: flex;
  padding: 8rem 15rem;
  align-items: center;
  justify-content: center;
}

.whyour_content p {
  padding: 10px;
}
.whyour_content .info {
  border-right: 4px solid gray;
}
.whyour_content .client_resenha {
  /* margin: 1rem; */
  display: flex;
  align-items: center;
  text-align: start;
}
.whyour_content .client_resenha p {
  min-width: 50%;
}

.services {
  text-align: center;
  background-color: #202020;
  color: white;
  padding: 3rem 0;
  width: 100%;
}
.services h1 {
  padding: 4rem 2rem;
}
.services img {
  margin: 10px;
}
.service_cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.service_cards h3 {
  color: #de8a1c;
  font-weight: bold;
}

.service_card {
  background-color: white;
  color: #000;
  padding: 2rem 2rem;
  width: 300px;
  height: 350px;
  margin: 10px;
  border-radius: 10px;
}

.cover_footer h4 {
  margin: 1.5rem 0 !important;
  color: #de8a1c;
}
.cover_footer h1 {
  font-size: 4em;
}
.cover_footer p {
  margin-bottom: 2rem;
}
.cover_footer {
  display: flex;
  width: 100%;
  height: 100vh;
}
.cover_footer .banner {
  padding: 3.5rem 10rem;
  text-align: start;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 
.cover_footer .footer_img {
  width: 50vw;
  height: 100%;
} */

.footer {
  background-color: #201010;
  padding: 3rem;
  color: white;
}
.footer_content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1068px) {
  .cover .image {
    width: 35%;
    height: 100%;
  }
  .cover .banner {
    padding: 1rem 2rem;
  }
  .whyour_content {
    width: auto;
    padding: 4rem 5rem;
    flex-wrap: wrap;
  }
  .whyour_content .info {
    border: none;
  }
}

@media screen and (max-width: 640px) {
  img {
    width: 100%;
  }

  p {
    font-size: 18px;
    margin-top: 2px;
  }

  .cover h4 {
    margin: 1rem 0 !important;
    color: #de8a1c;
    font-size: 1em;
  }

  .cover h1,
  .cover h2 {
    font-size: 1.5em;
  }

  .cover {
    display: flex;
    flex-direction: column;
  }

  .cover .banner {
    padding: 0.5rem 1rem 2rem;
  }

  .cover .image {
    width: 100vw;
    height: 35%;
  }

  .cardsContainer {
    margin: 1rem;
  }
  .cardsContainer h1 {
    padding: 1rem;
  }

  .whyour_content {
    padding: 3rem 1rem;
  }
  .whyour_content .info {
    margin-bottom: 20px;
  }
  .whyour_content .client_resenha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
  }
  .whyour_content .client_resenha {
    border-top: 4px solid gray;
  }
  .service_card {
    margin: 20px;
    overflow-y: auto;
  }

  .cover_footer h4 {
    margin: 1rem 0 !important;
    font-size: 1em;
  }
  .cover_footer h1 {
    font-size: 1.5em;
  }

  .cover_footer {
    flex-direction: column;

    background-color: #000;
  }
  .cover_footer .banner {
    padding: 2rem 1rem;
  }

  .cover_footer .image {
    width: 100vw;
    height: 35%;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: white;
  }
}
