@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Kanit:wght@200&family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

button {
  margin: 10px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  background-color: #de8a1c;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}
button:hover {
  filter: opacity(85%);
}

.cover {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.cover .banner {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 3em;
  font-family: "Dancing Script";
}

.cover .logo {
  position: absolute;
  margin: 2rem;
}

.cover .image {
  background-image: url("../img/model2.avif");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.cover .formContainer {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: auto;
  width: auto;
  backdrop-filter: brightness(60%) blur(4px);
}

.cover .formulario {
  padding: 2rem 3rem;
  width: auto;
  height: auto;
}

.cover .formulario form {
  /* margin: 5rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover form input {
  font-weight: bold;
  font-size: 1em;
  width: 100%;
  filter: none;
  padding: 10px;
  margin: 10px 0;
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: #f3f3f3;
}
.cover .formulario form textarea {
  font-weight: bold;
  font-size: 1em;
  padding: 10px;
  outline: none;
  border-radius: 10px;
  background-color: #f3f3f3;
  margin: 10px;
  width: 100%;
}
.cover .banner {
  height: 100vh;
  width: 50vw;
  background-color: #020200;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}
@media screen and (max-width: 850px) {
  .cover .banner {
    width: 100%;
    font-size: 20px;
  }
  .cover {
    flex-direction: column;
    align-items: center;
    width: auto;
  }
  .cover .image {
    width: 100vw;
  }
}
